<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="coursier">
            <h2><span jhiTranslate="jHipsterApp.coursier.detail.title">Coursier</span> {{ coursier.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jHipsterApp.coursier.firstname">Firstname</span></dt>
                <dd>
                    <span>{{ coursier.firstname }}</span>
                </dd>
                <dt><span jhiTranslate="jHipsterApp.coursier.lastname">Lastname</span></dt>
                <dd>
                    <span>{{ coursier.lastname }}</span>
                </dd>
                <dt><span jhiTranslate="jHipsterApp.coursier.mail">Mail</span></dt>
                <dd>
                    <span>{{ coursier.mail }}</span>
                </dd>
                <dt><span jhiTranslate="jHipsterApp.coursier.phone">Phone</span></dt>
                <dd>
                    <span>{{ coursier.phone }}</span>
                </dd>
                <dt><span jhiTranslate="jHipsterApp.coursier.reviews">Reviews</span></dt>
                <dd>
                    <span>{{ coursier.reviews }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/coursier', coursier.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
